.block {
    display: none;
    display: inline;
    display: inline-block;
    display: block;
}

.block {
    box-sizing: content-box;
    box-sizing: padding-box;
    box-sizing: border-box;
}

.radius {
    border-radius: 5px;
    border-radius: 5px 10px;
    border-radius: 20px/10px;
}

.radius {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.shadow {
    box-shadow: 1px 1px 1px red;
    box-shadow: 1px 1px 1px 2px red;
}

.shadow {
    box-shadow: inset 1px 1px 1px red;
    box-shadow: inset 1px 1px 1px 2px red;
}

.shadow {
    box-shadow: 1px 1px 1px red, 1px 1px 1px blue;
}
