.color {
    color: lime;
}

.color {
    color: #ff0000;
}

.color {
    color: #f00;
}

.color {
    color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0);
}

.font {
    font-size: 1em;
    font-style: italic;
    font-variant: small-caps;
    font-weight: bold;
}

.font {
    font-size: medium;
    line-height: 1.5;
    text-align: center;
    text-decoration: underline;
    text-indent: 20px;
    text-transform: capitalize;
}

.font {
    font: 1em monospace;
}

.font {
    font: 20px/20px 'Times New Roman', serif;
}

.font {
    font: bold italic small-caps 1em monospace;
}

.spacing {
    letter-spacing: -1px;
    word-spacing: -1px;
}

.shadow {
    text-shadow: 1px 1px 3px black;
}

.list {
    list-style: inside square;
}
